{% extends "base.html.twig" %}
{% block title %}Profile
{% endblock %}
{% block content %}

	<div class="container-fluid">
		<div class="d-sm-flex justify-content-between align-items-center mb-4"></div>
		<h3 class="text-uppercase mb-4" data-aos="slide-right" style="color: #ccc;font-size: 35px;text-align: left;font-family: 'Source Sans Pro', sans-serif;font-weight: bold;">
			<i class="fas fa-user-edit"></i>Profile</h3>
		<div class="row mb-3">


			<div class="row">
				<div class="col-6 mx-auto">
					<div class="card shadow mb-3" style="background: #f0f4fa;height:500px">

						<div class="card-header py-3">
							<p class="m-0 fw-bold" style="color: rgb(21,42,108);">Information de connexion</p>


						</div>
						<div class="card-body">


							{{form_start(form)}}
							{{form_row(form.email)}}
							{{form_row(form.login)}}
							{{form_row(form.phone)}}
							{{form_row(form.password,{"attr":{"required":false,"placeholder":"Nouveau mot de passe ou bien l'ancien"}})}}
							<button type="submit" class="btn btn-success mx-auto w-100">Modifer</button>
							{{form_end(form)}}


						</div>


					</div>
				</div>
				{% if is_granted("ROLE_STUDENT") %}

					<div class="col-6 mx-auto" style="">
						<div class="card shadow mb-3" style="background: #f0f4fa;height:500px">

							<div class="card-header py-3">
								<p class="m-0 fw-bold" style="color: rgb(21,42,108);">Information générale</p>
							</div>


							<div class="card-body" style="max-height:500px;overflow:scroll">

								{{form_start(formStd)}}

								{{form_end(formStd)}}


							</div>


						</div>
					</div>
				{% endif %}


			</div>
		</div>
	</div>
</div>{% endblock %}
