{% extends 'base.html.twig' %}

{% block title %}SessionCertif{% endblock %}

{% block body %}
    <h1>SessionCertif</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ session_certif.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ session_certif.libelle }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ session_certif.dateDebut ? session_certif.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ session_certif.dateFin ? session_certif.dateFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_session_certif_index') }}">back to list</a>

    <a href="{{ path('app_session_certif_edit', {'id': session_certif.id}) }}">edit</a>

    {{ include('session_certif/_delete_form.html.twig') }}
{% endblock %}
