{% extends 'base.html.twig' %}

{% block title %}Enseignant index{% endblock %}

{% block body %}
    <h1>Enseignant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Matricule</th>
                <th>DateNaissance</th>
                <th>Sexe</th>
                <th>Addresse</th>
                <th>Cin</th>
                <th>Passeport</th>
                <th>Specialite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for enseignant in enseignants %}
            <tr>
                <td>{{ enseignant.id }}</td>
                <td>{{ enseignant.matricule }}</td>
                <td>{{ enseignant.dateNaissance ? enseignant.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ enseignant.sexe }}</td>
                <td>{{ enseignant.Addresse }}</td>
                <td>{{ enseignant.cin }}</td>
                <td>{{ enseignant.passeport }}</td>
                <td>{{ enseignant.specialite }}</td>
                <td>
                    <a href="{{ path('app_enseignant_show', {'id': enseignant.id}) }}">show</a>
                    <a href="{{ path('app_enseignant_edit', {'id': enseignant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_enseignant_new') }}">Create new</a>
{% endblock %}
